@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap');
* {
	  margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}  
::after ,
::before {
    box-sizing: border-box;
}
:root {
    --Primaire-color: #9356DC;
    --Secondaire-color: #FF79DA;
    --Tertiaire-color: #99E2D0;
    --gray2-color :#EAEAEA
    ;
}
body {
    margin: 0;
    font-family: "Roboto",sans-serif;
}

a {
    color: black;
    text-decoration: none;
    position: relative;
}
h1, h2 {
    font-weight: 700;
    font-size: 24px;
}
h3 {
    font-weight: 700;
    font-size: 18px;
}
p {
    font-size: 16px;
}
/* loader */
.loader {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eed1e1;
    width: 100%;
    height: 100%;
    z-index: 1;
    animation: loader 2.5s linear forwards ;

}
.chargement {
  border: 10px solid #f3f3f3;
  border-top: 10px solid var(--Primaire-color) ;
  border-bottom: 10px solid var(--Tertiaire-color) ;
  border-left: 10px solid var(--Secondaire-color) ;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2.5s linear forwards ;
  margin: auto;
  position:absolute;
}
/* annimation du loader */
@keyframes loader {
  0% {
      opacity: 1;
  }

  85% {
      opacity: 0.5;
  }

  100% { 
      z-index: -1;
      opacity: 0;
  }

  0%, 25%, 50%, 95% {
      z-index: 1;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);

    }
  }



/*  header */
.header__logo {
    display: flex;
    justify-content: center;
    background-color: white;
    /* margin: 23px 0 0 ; */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
.header__logo a {
  margin: 23px 0 15px;
}
.header__logo img {
    width: 162px;
    height: auto;
}*
/* main */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:0;
    padding: 0;
}
/* localisation */
main .location {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    background: var(--gray2-color);
    color:#353535;
}
main .location__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left:85px;
}
#location__city {
    font-weight: 500;
    margin-left: 13px;
    margin-top: 14px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
/* section explorer */
section.explorer {
    background: #f7f7f7;
    width: 100%;
}
.explorer__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 50px 0;
}
.explorer__title {
    text-align: center;
    max-width: 275px;
    margin-bottom: 15px;
    font-weight: 700;
}
.explorer__text{
    text-align: center;
    width: 315px;
    font-weight: 300;
    font-size: 18px;
    padding-bottom: 27px;
}
.explorer button {
    border: none;
    opacity: 1;
    background: linear-gradient(to top, #9356DC -5.2%, #FF79DA 110.74%);
    color: white;
    width: 218px;
    height: 50px;
    font-weight: 500;
    font-size:16px ;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    /* padding: 0 18.5px; */
}
.explorer button:hover {
    cursor: pointer;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
    filter: brightness(1.2);
    transition: all 0.3s ease-in-out 0.3s;
}

.explorer button:not(:hover) {
  transition: all 0.3s ease-in-out 0.3s;
}
/* section Fonctionnement */

.process__container {
    padding: 48px 20px 70px;
    width: 100%;
    background: white;
}
.fa-solid {
  opacity: 0.7;
}

  .process__steps {
    display: flex;
    align-items: center;
    margin-top: 25px;
    transform: scale(1);
    transition:transform 0.3s ease-in-out 0.1s ;
    
  }
  .process__steps:hover {
    transform: scale(1.05);
    
  }
  .process__icon:hover  {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
    opacity: 0.8;
    cursor: pointer;
    background:  #F5EDFF;
  }
  .process__icon:hover .fa-solid {
    color: #9356DC;
    transition: none;
    opacity: 1;
  }
  
  .process__number {
    padding: 5px;
    width: 24px;
    background: #9356DC;
    height: 24px;
    text-align: center;
    border-radius: 24px;
    color: #fff;
    font-size: 15px;
    margin-right: 25px;
    z-index: 2;
  }
  
  .process__icon {
    display: flex;
    align-items: center;
    width: 96%;
    height: 73px;
    background-color: #F6F6F6;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    padding: 28px 0 28px 34px;
    margin-left: -35px;
    z-index: 1;
  }
  .process__text {
    font-weight: 500;
    padding-left: 27px;
  }
  /*  Restaurants */
  
  .restaurants {
    width: 100%;
    margin: 0;
    background: #f6f6f6;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    margin: 55px 20px 65px;
  }

  .restaurants__cards {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 20px;
    width: 95%;
    margin-top: 20px;
   
  }
  .restaurants__card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
  }
  .restaurants__card--image {
    width: 100%;
    height: 171px;
  }
  
  .restaurants__card--image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
  }
  .restaurants__card--new {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: #99E2D0;
    width: 80px;
    height: 30px;
    top: 20px;
    right: 20px;
  }
  .restaurant__card--new p{
    color: #1b6150;
    padding: 10px 20px;
    margin: 0; 
  }
  .restaurants__block {
    display: flex;
    justify-content: space-between;
    align-items:center;
    background: white;
    border-radius: 0 0 20px 20px;
  }
  .restaurants__block--info {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  margin-left: 20px;
}
.restaurants__block--info h3 {
  padding-top: 16px;
  padding-bottom: 5px;
}
.restaurants__block--info p{
  padding-bottom: 12px;
}
.icons {
  display:flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 25px;
}
.icons-regular {
  margin-right: -24px;
}

i.icons-solid:hover { 
  background-image:linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;     
  opacity: 1;
  line-height: 1;  
  cursor: pointer;
  transition: opacity 0.8s ease-in 0.3s;
}

i.icons-solid:not(:hover) {
  background-image:linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  line-height: 1;     
  transition: opacity 0.8s ease-in 0.3s;
  opacity: 0;
}

/* i.fa-regular {
  line-height: 1;
  color: black;
  /* background-color: transparent; 
}*/


/* .icons i.fa-solid {
  color: transparent;
  line-height: 1;
  transition: opacity 1s ease-in;
  opacity: 0;
} */

/* i.fa-regular:hover{
  font-weight:900;
  color: transparent;
  background-image: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%); 
  background-clip:text;
  -webkit-background-clip:text;
  animation: coeur 2.5s linear forwards ;
}
i.fa-regular:not(:hover){
  background-image: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%); 
  background-clip:text;
  -webkit-background-clip:text;
  line-height: 1; 
  transition: opacity 0.8s ease-in-out 0.3s;
}
@keyframes coeur {
  0% {
    opacity: 0.1;
  }
  25% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
  
  } */
/* *****footer *****/
footer {
width: 100%;
background: #353535;
color: white;
padding:22px 25px 35px ;
}
.footer__container {
  margin-top: 16px;
}
footer a {
  color: white;
  padding-bottom: 7px;
 
}
.footer__détail {
  display: flex;
  align-items: center;
  gap: 11px;
}
.fa-utensils {
  margin-right: 5px;
}
/*Media Queries Tablette*/ 

@media screen and (min-width:768px) and (max-width: 1023px) {
  .header__logo img {
    width: 200px;
    height: auto;
  }

  .explorer__title {
    font-size: 30px;
    max-width:100% ;
  }
  .explorer__text{
    width: 100%;
  }
  .process {
    display: flex;
    gap: 20px;
  }
  .process__text {
    padding-right: 15px;
  }
  .restaurants {
    margin: 55px 20px 65px;
  }
  .restaurants__cards {
    grid-template-columns: repeat(2, 1fr); /* 2 colonnes de largeur égale */
    grid-template-rows: repeat(2, auto); /* 2 lignes de hauteur automatique */
    gap: 30px; /* espacement entre les éléments */
    margin-left: 5px;
  }
  .footer__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:90%
  }
  }
  /*Media Queries desktop*/
@media screen and (min-width:1024px) {
  .header__logo img {
    width: 200px;
    height: auto;
  }

  .explorer__title {
    font-size: 40px;
    max-width:100% ;
  }
  .explorer__text {
    font-size: 18px;
    font-weight: 300;
    width: 100%;
  }
  .process__container {
    padding: 50px 140px 80px;

  }
  .process {
    display: flex;
    align-items: center;
    gap: 37px;
  }
  .process__steps {
    width: 100%;
    margin-top: 28px;
  }
  .process__text {
    padding-right: 38px;
  }
  .restaurants {
    padding: 55px 140px 65px; 
    margin: 0;
  }
  .restaurants__cards{
    grid-template-columns: repeat(2, 1fr); /* 2 colonnes de largeur égale */
    grid-template-rows: repeat(2, auto); /* 2 lignes de hauteur automatique */
    row-gap: 55px;
    column-gap: 90px; 
    padding-top: 28px;
  }
  .restaurants__block--info p {
    font-size: 17px;
  }
  footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-right: 130px;
    gap: 20px;
}
.footer__container {
  display: flex;
  align-items: center;
  gap: 40px;
}
.footer__icon {
  display: flex;
  margin-top: 12px;
  padding-left: 70px;
  }
}